<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to dashboard</h1>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if (signinSuccess) { %>
<script>
    Swal.fire({
        title: "Welcome to Dashboard",
        text: "You have successfully signed in to your dashboard",
        icon: "success",
        confirmButtonText: "OK"
    });
</script>
<% } %>

</html>